@font-face {
  font-family: MavenProRegular; 
  src: url('../assets/fonts/MavenPro-Regular.ttf');
}

body {
  display: flex;
  flex-direction: column;  
  align-items: center;
  color: rgb(250, 235, 215);  
  font-family: 'Lato', Arial, sans-serif;
  width: 100%;
}
/*
################### HEADER ###################
*/
header {  
  display: flex;
  flex-direction: column;  
  background-color: #323232; 
  height: 63px;
  width: 100%;
  max-width: 1020px;
  position: relative;
}

.display-none:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;    
  overflow: hidden;
}

header::after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 27px 46px 0 46px;
  border-color: #323232 transparent transparent transparent;
}

.main-nav {
  position: relative;
  display: flex;
  justify-content: center;
}

.nav-item a {
  text-decoration: none;
  display: block;
  padding: 25px 0 16px;
  font-size: 10px;
  line-height: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.nav-item a:hover,
.nav-item a:focus {
    color: #04ecbd;
    transition: 0.5s;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.nav-list-left {
  position: relative;
  width: 410px;
  margin-left: auto;
  justify-content: flex-end;
}

.nav-list-left li {
  margin-left: 23px;
}

.nav-list-right {
  position: relative;
  width: 410px;
  margin-right: auto
}

.nav-list-right li {
  margin-right: 24px;
}

.header-logo {
  width: 64px;
  height: 55px;
  margin: 10px 38px -2px;
}

.header-logo img:hover {
  opacity: 0.6;
}

.nav-list-left::after,
.nav-list-right::after {
  content: '';
  position: absolute;
  bottom: -11px;
  right: 0px;
  width: 410px;
  height: 1px;
  background: #e4e9eb;
}

.nav-list-right::after {
  left: 0;
}

.nav-item {
  position: relative;
}

.nav-item:not(:first-child)::before {
  content: '';
  position: absolute;
  left: -13px;
  top: 56%;
  width: 3px;
  height: 3px;
  background: #414552;
}

/*
################### MAIN ###################
*/

main {
  max-width: 1020px;
  width: 100%;
  
}
.hexagon-container {
  display: flex;    
  height: 721px;
  background: #fff;
}

.hexagon-slider {
  position: relative;
  width: 980px;
  margin: 0 auto;
  padding: 90px 0 89px;
}

.hexagon-slider::after {
  content: '';
  width: 960px;
  height: 1px;
  background: #e4e9eb;
  position: absolute;
  bottom: 11px;
  left: 50%;
  transform: translateX(-50%);
}

.top-row,
.bottom-row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 780px;
  margin: 0 auto;
}

.center-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -38px auto 0;
  width: 982px;
}

.top-row:not(:first-child),
.bottom-row:not(:first-child) {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -38px auto 0;
  width: 780px;
}

.hexagon {
  width: 180px;
  height: 206px;
  transform: rotate(120deg);
  overflow: hidden;
  visibility: hidden;
  transition: transform 1s ease-in
}

.hex-layer-1 {
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
  overflow: hidden;
  visibility: hidden;
}

.hex-layer-2 {
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
  overflow: hidden;
  visibility: visible;
  background: #ccc3;
  background-repeat: no-repeat;
  background-position: 50%;
}

.hex-1 {
  background: url('../assets/img/Layer-1-1.png');
}

.hex-2 {
  background: url('../assets/img/Layer-1-2.png');
}

.hex-3 {
  background: url('../assets/img/Layer-1-3.png');
}

.hex-4 {
  background: url('../assets/img/Layer-1-4.png');
}

.hex-5 {
  background: url('../assets/img/Layer-2-1.png');
}

.hex-6 {
  background: url('../assets/img/Layer-2-2.png');
}

.hex-7 {
  background: url('../assets/img/Layer-2-3.png');
}

.hex-8 {
  background: url('../assets/img/Layer-2-4.png');
}

.hex-9 {
  background: url('../assets/img/Layer-2-5.png');
}

.hex-10 {
  background: url('../assets/img/Layer-3-1.png');
}

.hex-11 {
  background: url('../assets/img/Layer-3-2.png');
}

.hex-12 {
  background: url('../assets/img/Layer-3-3.png');
}

.hex-13 {
  background: url('../assets/img/Layer-3-4.png');
}

.top-row::before,
.bottom-row::before {
  content: '';
  position: absolute;
  top: 52px;
  left: -21px;
  width: 1px;
  height: 104px;
  background: #e4e9eb;
}

.top-row::after,
.bottom-row::after {
  content: '';
  position: absolute;
  top: 52px;
  right: -21px;
  width: 1px;
  height: 104px;
  background: #e4e9eb;
}

.hexagon:hover {
  transform: rotate(220deg);
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.swithes-slider {
  position: absolute;
  bottom: 16px;
  left: 11px;
}

label {
  content: '';
  display: inline-block;
  margin-right: 0.7px;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  background: #ddd2c5;
}

input[type="radio"]:checked+label {
  content: '';
  background: #8b8784;
  cursor: pointer;
}

.swithes-slider label:hover {
  opacity: 0.8;
  background: #8b8784;
  cursor: pointer;
}

input[type="radio"].display-none {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.info {
  display: flex;
  height: 341px;
  background-color: #2eb398;
}

.about-me {
  width: 820px;  
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 780px;
  margin: 0 auto;
  padding: 67px 0;
}

.about-me::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -20px;
  width: 1px;
  height: 316px;
  margin-top: -158px;
  background: #219d84;
}

.about-me::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -20px;
  width: 1px;
  height: 316px;
  margin-top: -158px;
  background: #219d84;
}
article {
  width: 580px;
}

.about-me h3 {
  margin: 0 0 5px 0;
  font-family: MavenProRegular, sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #d7fcf5;
}
.subtitl {
  margin: 0 0 12px;
  font-family: MavenProRegular, sans-serif;
  font-size: 18px;
  color: #20816d;
}

.description {
  margin: 0 0 34px;  
  text-align: justify;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 12px;
  line-height: 22px;
  color: #fff;
}

.social-links {
  display: flex;
  justify-content: flex-end;
}

.social-btn {
  display: block;
  width: 24px;
  height: 24px;
  border-right: 1px solid #74ccbf;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: transform 0.3s ease-in-out;
}

.social-btn:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out;
}

.social-btn-fb {
  background: url('../assets/img/Facebook.png');
}

.social-btn-tw {
  background: url('../assets/img/Twitter.png');
}

.social-btn-google {
  background: url('../assets/img/Google.png');
}

.social-btn-pint {
  background: url('../assets/img/Pinterest.png');
}

.social-btn-linkd {
  background: url('../assets/img/Linkedin.png');
}

.social-btn-dribbl {
  background: url('../assets/img/Dribbble.png');
}

/*
################### FOOTER ###################
*/

footer {
  max-width: 1020px;
  width: 100%;
  height: 564px;
  background-color: #323232; 
}

.big-footer {
  display: flex;
  height: 538px;
  border-top: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
  margin: 13px 30px 11px;
}

.left-part {
  width: 670px;
  margin-left: 90px;
}

legend {
  font-family: MavenProRegular, sans-serif;
  font-size: 30px;
  color: rgba(224, 224, 224, 255);
  padding-top: 48px;
}

fieldset p {
  font-family: MavenProRegular, sans-serif;
  font-size: 18px;
  color: rgba(190, 190, 190, 255);
  margin-bottom: 12px;
}

input[type='text'],
input[type='email'] {
  height: 38px;
  width: 550px;
  background-color: #454545;
  color: #aeaeae;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 0px 15px;
  font-size: 12px;  
  font-family: 'Lato', sans-serif;
}

textarea {
  height: 124px;
  width: 550px;
  background-color: #454545;
  color: #aeaeae;;
  padding: 13px 15px;
  font-size: 12px;
  border: none;  
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: 'Lato', sans-serif;
  resize: none;
}

::placeholder {
  color: #bebebe;
}

button {
  background-color: #2eb398;
  border: none;
  height: 37px;
  width: 90px;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: rgba(215, 252, 245, 255);
  position: relative;
  left: 490px;
  text-transform: uppercase;
}

button:hover {
  background-color: hsl(180, 0%, 42%);
}

.rigth-part {
  width: 290px;  
}

.quisque {
  width: 180px;
  height: 117px;
  margin-top: 120px;
}

.quisque p {
  font-size: 12px;
  font-family: 'Lato', sans-serif;  
  color: #a6a6a6;
  line-height: 1.797;
  text-align: justify;
}

.quisque p span {
  color: #d9d9d9;
}

.contacts {
  margin-top: 43px;
}

.contacts i {
  color: #a6a6a6;
}

.contacts a {
  text-decoration: none;
  font-size: 12px;
  font-family: 'Lato', sans-serif;  
  line-height: 1.797;
  color: #a6a6a6;    
}

.contacts a:hover {
  color: #ffffff;  
}

.copyright {
  height: 43px;
  background-color: #222222;
}

.copyright p {
  color: #434343;
  font-family: MavenProRegular, sans-serif;
  font-size: 8.657px;  
  margin-left: 23px; 
  padding: 16px;
}